:root {
    --color-primary: #fff;
    --color-secondary: #212121;
    --color-blue: #2196f3;
    --color-hero-back: #c4c4c4;
    --color-dark-background: #2f303a;
    --color-dark-text: #757575;
    --color-button-filter: #f5f4fa;
    --color-logo-dark: #000;
    --color-address-gray: #acacb0;
    --color-logos-gray: #afb1b8;
    --font-family: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;
    --font-size-main: 14px;
}