/* Advantages section */
.advantages {
    background-color: var(--color-primary);
    padding-bottom: 94px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
    }

    &__item {
        display: inline-block;
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__description {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-primary);

        padding-top: 27px;
        padding-bottom: 27px;
    }
}