/* Features section */
.features {
    background-color: var(--color-primary);

    &__list {
        @media screen and (min-width:$tablet) {
            display: flex;
            flex-wrap: wrap;
            gap:30px;
        }

    }

    &__item {
        max-width: 450px;

        @media screen and (min-width:$tablet) {
            // max-width: 354px;
            flex-basis: calc((100% - 30px) / 2)
        }
        @media screen and (min-width:$desktop) {
            flex-basis: calc((100% - 90px) / 4)
        }
    }

    &__item:not(:last-child) {
        // margin-right: 30px;
        margin-bottom: 30px;
    }

    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--color-dark-text);
    }

    &__style {
        background-color: var(--color-button-filter);
        border-radius: 4px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;

        display: flex;
    }

    &__icon {
        margin: 0 auto;
    }
}