.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
        fill: currentColor;
    }
}
// Team Section
.team__socials-list {
    color: var(--color-logos-gray);

    &:hover,
    &:focus {
        background-color: var(--color-blue);
        color: #fff;
    }
}

// Footer Section
.footer__socials-list {
    color: var(--color-primary);
    background-color:rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
        background-color: var(--color-blue);
    }
}