body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-family);
    font-size: var(--font-size-main);
    &.modal-open{
        overflow:hidden;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}